html
    head
        title Daily Wiki
        link(rel='stylesheet', type='text/css', href='popup.css')
        script(type='text/javascript', src='js/jquery-1.8.1.min.js')
        script(type='text/javascript', src='background.js')
        script(type='text/javascript', src='popup.js')
    body
        h1 Wikipedia Daily
        ul#langs
            li#en English
            li#fr French
            li#nl Netherlandais
            li#ar Arabic
        div#time
            | Oka

